.about{
    margin: 0px 0px;
    width:100%;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.about .section{
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    min-height: 100vh;
    height: auto;
    background-size: cover;
    background-position: center;

}

.about .section.two-and-a-half{
    background-color: #add8e691;
    background-color: transparent;
    padding-bottom: 10%;
    

}
.about .section.two-and-a-half .question{
    z-index: 100;
}
.about .involved-grid{
    display: grid;
    grid-template-columns: auto auto;
    width:60vw;
    z-index: 100;
}
.about .involved-grid a{
    text-decoration: underline;
    color: rgb(0, 12, 142);

}
.about .involved-grid .instagram{
    width: 15vw;
    height :15vw;
    justify-self:center;  
}
.about .involved-grid .instagram:hover{
    cursor: pointer;
    width: 17vw;
    height :17vw;

}
.about .card.involved{
    height:auto;
    padding: 2vh;
    justify-content: space-around;
    background-color: white;
    display: flex;
    flex-direction: column;
    width:25vw;
    height:25vw;
    
}
.about .section.two-and-a-half .ocean-background{
    position: absolute;
    width: 100vw;
    height:calc(50vw + 50vh);
    flex-grow: 1;
    z-index: 0;
    border:none;

}
.about .card.involved h1{
    color:black;
    font-weight: 900;
    text-shadow: 1px 0 #888888;
    font-size: 2.5rem;
}

.about .sign-up-form{
    margin:0;
    flex-direction: column;
    display: flex;
}
.about .sign-up-form input{
    padding:2vh 2vw;
    width: 80%;
    height:80%
}
.about .sign-up-form button{
    padding:2vh 2vw;
    background-color: white;
}
.about .sign-up-form button:hover{
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-style: solid;
    cursor: pointer;
}

.about .big-logo{
    width: 20vw;
    height:20vw;
    display: block;
    margin-top: 15vh;
    margin-bottom: 010vh;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    cursor: pointer;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }


.about .section.two{
    height: auto;
    background-color: #88ADE0;
    background-color: #ADD8E6;
    background-color: white;
}
.about .mountain-background{
    background-image: url("https://i.ibb.co/MC1KY56/image-from-rawpixel-id-2905608-original-ai-1.png");
    background-size: 100vw;
    background-position: center;
    background-repeat: no-repeat;
}
.about .section.three{
    background-color: #ADD8E6;
    background-color: #bfd4db;
    background-color: white;
    background-size: cover;
    margin-top: 14vh;
    background-attachment: fixed;
    height: auto;
    padding-bottom: 4vh;
    display: grid;
    grid-template-columns: auto auto;
    width:84%;
    padding-left: 10%;
}
 

.about .card{
    width:80%;
    height:80vh;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    margin-top: 5vh;
    border-style: solid;
    border-color: white;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.about .card.body{
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    height:auto;
}

.about .card.body h1{
    font-weight: 100;
    align-self: center;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 2vw;
    margin-right: 2vw;
}

.about .body-row{
    width:80%;
    height:auto;
    padding: 4vh 4%;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
    flex-direction: row;
    
    
}

.about .body-row.odd p{
    margin-left: 2%;
    margin-right: 0vw;
}
.about .body-row img{
    width:20vw;
    height:20vw;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2px;
}
.about .body-row p{
    font-size: 1.5rem;
    margin-right: 2%;
}

.about .question{
    height:12vh;
    margin-top: 5vh;
    flex-direction: column;
    justify-content: space-around;   
}

.section.three .question{
    height:54vh;
    width:38vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section.three .medium{
    font-size: 3rem;
    text-align: center;
    align-self: center;
    margin-left: 0;
}

.about .member-group2{
    background-color:rgba(255, 255, 255, .7);
    display: flex;
    flex-direction: column;
    height:54vh;
    width:38vw;
    overflow: hidden;
    box-shadow: none;
    border-style: solid;
    
}
.about .member-group2:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about .member-group2 .bio{
    margin-left: 2vw;
    margin-right: 2vw;
}
.about .member-group2 h4{
    margin:0px 0px;
}

.about .img-box{
    margin-top: 2vh;
    height:16vw;
    width: 16vw;
    min-width: 16vw;
    min-height: 16vw;
    background-size: cover;
    background-position: center;
}

.about .body{
    height:60vh;
}


.about .big{
    font-size: 4rem;
    font-weight: 900;
    color:black;
    align-self: center;
    margin: 0px 5vw;
    text-align: center;
}

.about .medium{
    font-size: 2rem;
    align-self:flex-start;
    margin-left: 5%;
}

.about .gradient-border{
        border: double 0.5rem transparent;
        
        background-image: linear-gradient(white, white), linear-gradient(to bottom right, #a1ffce, #FAFFD1);
        background-origin: border-box;
        background-clip: content-box, border-box;
      
}
.about .section.four{
    background-image: url("https://i.ibb.co/G0wFmJ4/pexels-ruvim-3560044.jpg");
    background-size: cover;
    background-position: center;
}
.about .section.four .question{
    width: 92%;
    border: none;
}
.about .section.four .card{
    max-width:92%;
}
.about .section.four h1{
    padding: 10vh 2vw;
    border-radius: 1rem;
    background-color: white;

}
.about .section.four h1:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    background-color: rgb(200,200,200);
}

.about .section.transparent {
    background-attachment: none;
    background-image :linear-gradient(#ADD8E6,white);
    
}
.about .birds{
    width:100%;
    height:600%;
    position: absolute;
    top:0;
    z-index: -1;
}

@media only screen and (max-width: 900px) {
    .about{
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }
    .about .section.one{
        background-attachment: scroll;
    }
    .about .section.three{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0vw;
        width: 100vw;
        background-image: none;
        background-color: white;
        padding-bottom: 5vh;
    }

    .about .section.two{
        height: auto;
    }
    .about .member-group2{
        width:90%;
        height: auto;
        padding-bottom: 2vh;
        margin-left: 0vw;
        margin-right: 0vw;
        
    }
    .about .involved-grid{
        display: flex;
        flex-direction: column;
        width:100vw;
        z-index: 100;
        align-items: center;
    }
    .about .card.involved{
        width:70vw;
        height:auto;
        
    }
    .about .section.two-and-a-half .ocean-background{
        height: 150vh;
    }
    .about .section.two-and-a-half input{
        width:66vw;
        height:4vh;
        font-size: 1.2rem;
    }
    .about .section.two-and-a-half button{
        width:70vw;
        height:10vh;
        font-size: 1.4rem;
    }
    .about .member-group2 .img-box{
        width: 40vw;
        height:40vw;
        min-width: 40vw;
        min-height: 40vw;
    }
    .about .section.three .question{
        width:90%;
        height: 20vh;
    }
    .about .body-row{
        flex-direction: column-reverse;
        height:auto;
        padding: 2vh 2vw;
        
        overflow: hidden;
    }
    .about .big-logo{
        width:60vw;
        height:60vw;
    }
    .about .body-row.odd{
        flex-direction: column;
    }
    .about .body-row img{
        width:60vw;
        height:60vw;
        object-fit: cover;
        align-self: center;
        
    }
    .about .section.four{
        height: auto;
        padding-top:4vh;
        padding-bottom: 4vh;
    }
    .about .section.four .card{
        height: auto;
        
    }
    .about .section.four h1{
        width: 80%;
        text-align: center;
    }
    .about .big{
        font-size: 2.5rem;
        color: rgb(50,50,050);
        font-weight: 500;
    }
    .about .big a{
        color:black;
        font-weight: 900;
    }
}