.footer{
    height:8vh;
    width:100%;
    
    background-color: white;
    justify-content: space-around;
    margin-bottom: -8vh;
    display: flex;
    flex-direction: row;
    align-items: center;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer h2{
    color:black;
}
@media only screen and (max-width: 900px) {
    .footer{
        width:100%;
    }
}