.home{
    width:75%;
    height: 150vh;
    overflow: hidden;
    margin-top: 0px;
    background-color: #abe9cd;
    background-image: linear-gradient(135deg, #abe9cd 0%, #3eadcf 74%);

}

.home .top{
    background-color: coral;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    
}

.home .top p{
    color: white;
}


.carousel{
    float:right;
    border-style: solid;
    border-color: white;
    margin:2%;
    width: 64%;
    height: 66vh;
    overflow: hidden;
    flex-direction: column;
    display: flex;
    border-radius: 2em;
    position:relative;
}

.carousel .preview-img{
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 50vw;
    height: 66vh;
    position:relative;
}

.carousel .info-box{
    max-width: 20vw;
    max-height: 20vh;
    position: absolute;
    bottom:8vh;
    left:4vw;
    padding: 0vw 2vw;
    background-color: white;
    overflow: hidden;
}
.carousel .article-description {
    position: absolute;
}

.carousel .arrow{
    position: absolute;
    top:20vh;
    font-size: 4em;
    color: black;
    cursor: pointer;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;

}
.carousel .left{
    left: 2vw;
    
}
.carousel .right{
    right: 2vw;
}
.carousel .info-texts{
    margin:1vh
}