.home{
    margin: 0px;
    width:73vw;
    height: auto;
    overflow: hidden;
    margin-top: 0px;
    background-color: #13547a;
    background-image: linear-gradient(45deg, #13547a 0%, #80d0c7 100%);

}

.home .top{
    background-color: coral;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    
}

.home .top p{
    color: white;
}

.carousel{
    float:right;
    border-style: solid;
    border-color: white;
    margin:2vh 1.5vw 2vh 0vw;
    width: 46vw;
    height: 66vh;
    overflow: hidden;
    flex-direction: column;
    display: flex;
    border-radius: 2em;
    position:relative;
}

.carousel .preview-img{
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position:relative;
}

.carousel .info-box{
    cursor: pointer;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    max-width: 50%;
    max-height: 50%;
    position: absolute;
    bottom:10%;
    left:8%;
    padding: 0vw 2vw;
    background-color: white;
    overflow: hidden;
}
.carousel .info-box:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.carousel .article-description {
    position: absolute;
}

.carousel .arrow{
    position: absolute;
    top:20vh;
    font-size: 4em;
    color: black;
    cursor: pointer;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    

}
.carousel .arrow:hover{
    background-color: white;
    border-radius: 1rem;
    padding: 0.0rem 0.5rem 0.1rem 0.5rem;
}

.carousel .left{
    left: 2vw;   
}
.carousel .right{
    right: 2vw;
}
.carousel .info-texts{
    margin:1vh 1vw 1vh 1vw
}

.carousel h3{
    font-size: 2rem;
}
.carousel h5{
    font-size: 1rem;
}
.carousel p{
    font-size: 1.2rem;
}




.actions-box{
    background-color: white;
    float:left;
    border-style: solid;
    border-color: white;
    margin:2vh 0px 2vh 1.5vw;
    width: 21.5vw;
    height: 66vh;
    overflow: hidden;
    flex-direction: column;
    display: flex;
    border-radius: 2rem;
    position:relative;
    align-items: center;
    
}

.actions-box .info-box{
    flex-direction: row;
    margin-left: 10%;
    display: flex;
    margin-top: 3vh;
    border-style: solid;
    border-width: 0.1rem;
    width: 80%;
    height:70%;
    border-radius: 1rem;
    cursor: pointer;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.actions-box .info-box:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.actions-box .preview-img{
    width:54%;
    height:90% ;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 0.5rem;
    align-self: center;
    margin-left:3% ;
    margin-right:3% ;
}

.actions-box .info-texts{
    align-self: center;
    max-width: 40%;
    max-height: 80%;
    overflow: hidden;
    font-size: 1.2rem;
    font-weight: 800;
}

.team-box{
    background-color: white;
    float:left;
    border-style: solid;
    border-color: white;
    margin:1vh 0px 2vh 1.5vw;
    width: 46vw;
    height: 31vh;
    overflow: hidden;
    flex-direction: row;
    display: flex;
    border-radius: 2rem;
    position:relative;
    align-items: center;  
}

.team-box:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.member-group {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 1vh 0vw 1vh 0vw;
    height:80%;
    width:25%;
}
.team-box .info-box{
    /*does image of person*/
    justify-self: flex-start;
    width: 6vw;
    height: 6vw;
    border-style: solid;
    border-radius: 1rem;
    background-size: cover;
    background-position: center;
}

.member-group h4{
    font-size:1.25rem ;
    margin: 1.5vh 0.5vw 0px 0.5vw
}
.team-box  h5{
    font-size:.75rem ;
    
    margin: 1vh 0.5vw 0px 0.5vw
}

.statistics-box{
    background-color: white;
    float:right;
    border-style: solid;
    border-color: white;
    margin:1vh 1.5vw 2vh 0vw;
    width: 21.5vw;
    height: 66vh;
    overflow:hidden;
    flex-direction: column;
    display: flex;
    border-radius: 2rem;
    position:relative;
    align-items: center;
    
}

.block-quote{
    background-color: white;
    float:left;
    border-style: solid;
    border-color: white;
    margin:1vh 0px 2vh 1.5vw;
    width: 46vw;
    height: 31vh;
    overflow: hidden;
    flex-direction: column;
    display: flex;
    border-radius: 2rem;
    position:relative;
    align-items: center;
    
}
.block-quote .tree{
    position: absolute;
    width: 18vw;
    left:2vw;
    bottom: -2vh;
}
.block-quote .quote{
    margin-left: 18vw;
    font-size: 3rem;
    text-align: center;
}
.block-quote .author{
    margin-left: 24vw;
}

@media only screen and (max-width: 768px) {
    .home{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .carousel{
        width: 96%;
        margin-left: 0%;
        margin-right: 0%;
    }
    .actions-box{
        width: 96%;
        margin-left: 0%;
        margin-right: 0%;
    }
    .team-box{
        width: 96%;
        margin-left: 0%;
        margin-right: 0%;
    }
    .team-box .info-box{
        width:12vw;
        height:12vw;
    }
    .statistics-box{
        width: 96%;
        margin-left: 0%;
        margin-right: 0%;
    }
    .block-quote{
        width: 96%;
        margin-left: 0%;
        margin-right: 0%;
    }
    
}