.news{
    margin: 0px;
    width:73vw;
    
    

}
.news .article-container{
    width: 100%;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 4vh 0vw 4vh 0vw;
    row-gap: 4vh; 
    justify-items: center;
    align-items: center;
}
.news .article{
    width:20vw;
    position: relative;
    flex-direction: column;
    height: 20vw;
    display: flex;
    background-color: rgb(78, 78, 78);
    border-width: .05rem;
    border-style: solid;
    border-radius: 2rem;
    background-position: center;
    background-size: cover;
}
.news .banner{
    position: absolute;
    left: 0;
    bottom: 0;
    min-height: 30%;
    background-color: white;
    width: 100%;
    max-width: 92%;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding: 1% 4% 1% 4%
}
.news .article:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}
.news .article .author{
    display: none;
}

@media only screen and (max-width: 900px) {

    .news{
        width: 100%;
    }
    .news .article-container{
        grid-template-columns: auto ;
        row-gap: 5vh;
    }
    .news .article{
        width:80vw;
        height: 80vw;
    }
    .news .article h1{
        font-size: 2.5rem;
        margin-top: 2%;
        margin-bottom: 0%;
    }
    .news .article .author{
        display: block;
        margin-top: 4%;
        font-size: 1rem;
        font-weight: 600;
    }

    
    
}