.news{
    margin: 0px;
    width:73vw;
    margin-top: 0px;

    display: inline-grid;
    row-gap: 4vh;
    padding: 4vh 0vw 4vh 2vw; 
    
    grid-template-columns: auto auto auto;
}
.news .article{
    width:20vw;
    position: relative;
    flex-direction: column;
    height: 20vw;
    display: flex;
    background-color: rgb(78, 78, 78);
    border-width: .05rem;
    border-style: solid;
    border-radius: 2rem;
    background-position: center;
    background-size: cover;
}
.news .banner{
    position: absolute;
    left: 0;
    bottom: 0;
    min-height: 30%;
    background-color: white;
    width: 100%;
    max-width: 92%;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding: 1% 4% 1% 4%
}
.news .article:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    .news{
        width: 100%;
        grid-template-columns: auto ;
        
    }
    .news .article{
        width:80vw;
        height: 80vw;
    }
    
}